<div class="back-second"></div>
<div class="background"></div>


<% if user_signed_in? %>

  <%= current_user.username %>
  <% if current_user.profile.first_name.blank? %>
    you have a profile
  <% end %>
  <% if current_user.theme.main_color.blank? %>
    and you have a theme
  <% end %>
  <% if current_user.location.city.blank? %>
    and you have a location
  <% end %>

<% end %>