<%= form_for(@membership, url: user_membership_path(@user)) do |f| %>

  <div class="field">
    <div class="one-thirds">
      <%= f.label :membership_type %>
    </div>
    <div class="two-thirds">
      <%= f.text_field :membership_type, class: "text-field" %>
    </div>
  </div>
  <%= f.submit "Create membership", data: { disable_with: 'Creating...' }, class: "submit-button" %>

<% end %>