<div class="wrapper dark-background">
  <div class="container">
    <div class="nameplate">
      <img class="big-image" src="<%= @photo.image_url(:original) %>">
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">


    <div class="nameplate border-bottom medium-text">
      <div class="vote_button">
        <%= render 'users/partials/votes/vote_button' %>
      </div>
      <span class="vote_count"><%= render 'users/partials/votes/vote_count' %></span> - <%= @photo.title %>
    </div>


    <div class="nameplate border-bottom">
      
    </div>
  </div>
</div>